# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env

# React / Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp
.pnp.js

# Next.js
.next/
out/
build/
.vercel
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Misc
ngrok
*.zip
